# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Java / Maven
smart-campus-api/target/
*.class
*.jar

# React / Node
smart-campus-client/node_modules/
smart-campus-client/dist/

# IDE
.vscode/
.idea/
*.iml

# Environment
.env
.env.local
application-local.propertiess